{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"ie": "11",
					"node": "8"
				}
			}
		]
	],
	"ignore": [
		"stages/*/code*.js",
		"enchantjs/enchant.js",
		"enchantjs/ui.enchant.js"
	]
}
